{% extends "SketchWebsite/base.html" %}

{% load static %}


{% block extracss %}

<link rel="stylesheet" href="{% static 'countmin/payments.css' %}">

{% endblock %}


{% block content %}

<script>
    function onRowClick(pk) {
        window.location = `/countmin/${pk}`
    }
</script>

<div class="p-5">
    <table class="table">
        <thead>
            <th scope="col">#</th>
            <th scope="col">time</th>
            <th scope="col">location</th>
            <th scope="col">amount</th>
        </thead>
        <tbody>
        {% for payment in all_payments %}
            <tr onclick="onRowClick({{ payment.pk }})">
                <th scope="row">{{ forloop.counter }}</th>
                <td> {{ payment.time }} </td>
                <td> {{ payment.location }} </td>
                <td> {{ payment.amount }} </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <td></td>
            <td></td>
            <td></td>
            <td> <b>Sum:</b> {{ sum_payments.amount__sum }}</td>
        </tfoot>
    </table>
    <a href="new" class="btn btn-info btn-circle btn-lg" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
    </a>
</div>
{% endblock %}