th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr {
    padding-bottom: 1em;
  }

.quantile-data {
    font-size: large;
    /* height: 1.5em; */
    border: 2px;
    border-style: solid;
    border-color: black;
    /* padding: 1em; */
}

.p-kmv-item {
    background-color: white;
    transition: background-color 1s linear;
}
/* 
.p-kmv-item:hover {
    background-color: green;
    transition: background-color 0s linear; 
 } */